services:
  postgres:
    image: postgres:18.2-alpine3.23
    restart: unless-stopped
    environment:
      POSTGRES_DB: "duna"
      POSTGRES_USER: "duna"
      POSTGRES_PASSWORD: "duna"
    ports:
      - "35432:5432"
    command: |
      postgres
      -c max_connections=200
      -c wal_level=logical
  rabbitmq:
    restart: unless-stopped
    image: rabbitmq:4.2.3-management-alpine
    ports:
      - "35671:5672"
      - "35672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
